# There are two game modes 
# 1. In this mode computer will pick a random number and you (user) Have to guess the number correctly
# 2. In this mode user (you) will pick a random number and Computer havr to guess the number correctly
